<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>PaaS 一键发布</title>
    <link rel="shortcut icon" href=/favicon.ico>
    <link href=/static/css/main.8ee1f2f5bbddb8fc1119f719790bfd38.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/static/js/manifest.a7beed5ab9eae5bf20ff.js></script>
<script type=text/javascript src=/static/js/vendor.24e4280f541fd4ba3e0f.js></script>
<script type=text/javascript src=/static/js/main.3316b608d6f4b45ee7ef.js></script>
</body>
</html>