<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xc.fast_deploy.dao.master_dao.PModulePermissionMapper">
    <resultMap id="BaseResultMap" type="com.xc.fast_deploy.model.master_model.PModulePermission">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="action" property="action" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="action_name" property="actionName" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , action, url, action_name, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from module_permission
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from module_permission
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.xc.fast_deploy.model.master_model.PModulePermission">
        insert into module_permission (id, action, url,
                                       action_name, create_time, update_time)
        values (#{id,jdbcType=INTEGER}, #{action,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR},
                #{actionName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.xc.fast_deploy.model.master_model.PModulePermission">
        insert into module_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="action != null">
                action,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="actionName != null">
                action_name,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="action != null">
                #{action,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="actionName != null">
                #{actionName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xc.fast_deploy.model.master_model.PModulePermission">
        update module_permission
        <set>
            <if test="action != null">
                action = #{action,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="actionName != null">
                action_name = #{actionName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xc.fast_deploy.model.master_model.PModulePermission">
        update module_permission
        set action      = #{action,jdbcType=VARCHAR},
            url         = #{url,jdbcType=VARCHAR},
            action_name = #{actionName,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--self add-->
    <select id="selectIds" resultType="java.lang.Integer"
            parameterType="java.util.Set">
        select id
        from module_permission p
        <if test="collection != null and collection.size > 0">
            WHERE p.id
            IN
            <foreach collection="collection" index="index" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>


    <delete id="deleteByIds" parameterType="java.util.Set">
        DELETE FROM module_permission
        WHERE id
        IN
        <foreach collection="collection" index="index" item="id" open="(" separator="," close=")">
            #{id,jdbcType=INTEGER}
        </foreach>
    </delete>

    <select id="selectPermissionVoPageByVo"
            parameterType="com.xc.fast_deploy.vo.module_vo.permission.ModuleRolePermissionParamVo"
            resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM module_permission a
        <where>
            <if test="keyName != null and keyName != ''">
                AND (a.action LIKE concat('%',#{keyName,jdbcType=VARCHAR},'%')
                OR a.action_name LIKE concat('%',#{keyName,jdbcType=VARCHAR},'%'))
            </if>
            <if test="beginTime != null and beginTime != ''">
                AND a.update_time &gt;= #{beginTime,jdbcType=VARCHAR}
            </if>
            <if test="endTime != null and endTime != ''">
                AND a.update_time &lt;= #{endTime,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <insert id="insertBatch" parameterType="java.util.List">
        insert into module_permission
        (action,url,action_name,create_time, update_time)
        values
        <foreach collection="list" item="modulePermission" index="index" separator=",">
            (#{modulePermission.action,jdbcType=VARCHAR},
            #{modulePermission.url,jdbcType=VARCHAR},
            #{modulePermission.actionName,jdbcType=VARCHAR},
            #{modulePermission.createTime,jdbcType=TIMESTAMP},
            #{modulePermission.updateTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>


    <insert id="insertRoleBasePermissionBatch" parameterType="java.util.List">
        insert into module_role_base_perm
        (role_id,base_per_id)
        values
        <foreach collection="list" item="roleBasePermission" index="index" separator=",">
            (#{roleBasePermission.roleId,jdbcType=VARCHAR},
            #{roleBasePermission.basePermId,jdbcType=VARCHAR})
        </foreach>
    </insert>


    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM module_permission
    </select>

</mapper>